*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    width: 100vw;
}
.container{
    position: absolute;
    display: flex;
    height: 100vh;
    width: 100vw;
}
.fox-contain, .whale-contain, .baboon-contain, .deer-contain{
    position: relative;
    width: 24.8vw;
    height: 100vh;
    border-left: 0.1vw solid black;
    border-right: 0.1vw solid black;
    z-index: 1;
}
.fox-contain::before, .whale-contain::before, .baboon-contain::before, .deer-contain::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: filter 0.3s;
}
.fox-contain::before{
    background-image: url("./images/Fox.png");
}
.whale-contain::before{
    background-image: url("images/Whale.png");
}
.baboon-contain::before{
    background-image: url("images/Babbon.png");
}
.deer-contain::before{
    background-image: url("images/Deer.png");
}
.fox-contain:hover::before, .whale-contain:hover::before, .baboon-contain:hover::before, .deer-contain:hover::before{
    filter: grayscale(100%) blur(7px) brightness(0.5);
    border: none;
}
.overlay{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    width: 24.8vw;
    height: 100vh;
    z-index: 1;
}
.info{
    font-family: 'Arial Narrow';
    color: white;
    margin-left: 3vw;
    padding-top: 75vh;
    position: absolute;
    color: white;
    z-index: 2;
}

.subject-name{
    font-weight: bolder;
    font-stretch: expanded;
    font-size: 4vh;
}
.location{
    color: rgba(255, 255, 255, 0.7);
    font-weight: normal;
    font-size: 2vh;
}
.info .know-more {
    font-family: "Arial";
    font-weight: bold;
    margin-top: 10px;
    color: #2d69ec;
}
.info.move-up {
    transform: translateY(-5vh);
    transition: transform 0.3s ease;
}